## Advanced Values, Variables, and Types

1. Tuples
1. More about lists
1. Dictionaries
1. is and id functions in Python

In [1]:
my_tuple = (1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [2]:
my_tuple[0]

1

In [3]:
my_tuple[:3]

(1, 2, 3)

In [4]:
# Tuples are immutable
my_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [5]:
type(my_tuple)

tuple

In [6]:
(1,2,3,4) == [1,2,3,4]

False

In [8]:
my_list = list(my_tuple)
my_list

[1, 2, 3, 4]

In [10]:
tuple2 = tuple(my_list)
print(tuple2)

(1, 2, 3, 4)

In [11]:
w,x,y,z = my_tuple
print(w)
print(x)
print(y)
print(z)

1
2
3
4

In [12]:
w,x,y,z = my_list
print(w)
print(x)
print(y)
print(z)

1
2
3
4

In [15]:
my_tuple[:3]

(1, 2, 3)

In [16]:
my_tuple[-2:]

(3, 4)

In [17]:
id(0)

9788960

In [18]:
id(1)

9788992

In [19]:
id(0.)

140541334577520

In [20]:
id(my_tuple)

140541390686224

In [21]:
id(my_list)

140541334452928

In [22]:
a = 1
b = a
print(id(a))
print(id(b))

9788992
9788992

In [23]:
id([1,2,3]) == id([1,2,3])

True

In [24]:
True is True

True

In [25]:
None is None

True

In [26]:
[1,2,3] is [1,2,3]

False

In [28]:
a = [1,2,3,4]
b = a
print(id(a)==id(b))
print(a is b)
print(b is a)

True
True
True

In [29]:
b[0] = 5
print(a)

[5, 2, 3, 4]

In [30]:
b is a

True

In [31]:
a = 1
b = a
b = 2
print(b is a)

False

In [32]:
a = [1,2,3,4]
b = a.copy()
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [33]:
b is a

False

In [34]:
b[0] = 6
print(a)
print(b)

[1, 2, 3, 4]
[6, 2, 3, 4]

In [35]:
a = [1,2,3,4]
b = a.copy()
print(a)
print(b)
print(a==b)
print(id(a)==id(b))
print(a is b)

[1, 2, 3, 4]
[1, 2, 3, 4]
True
False
False

In [36]:
id(a)

140541334494144

In [37]:
id(b)

140541334493888

In [38]:
a

[1, 2, 3, 4]

In [39]:
b

[1, 2, 3, 4]

## List comprehensions

In [40]:
out = []
for i in range(1,11):
    x = 27*i
    out.append(x)
print(out)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [41]:
[27*i for i in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [42]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [43]:
[10 for i in range(4)]

[10, 10, 10, 10]

In [44]:
[10]*4

[10, 10, 10, 10]

In [46]:
27*i for i in range(1,11)  ## Must have the brackets!!

SyntaxError: invalid syntax (2537965538.py, line 1)

In [47]:
[27*i for i in range(1,20) if i<=10]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [48]:
out = []
for i in range(1,20):
    x = 27*i
    if i <= 10:
        out.append(x)
print(out)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [50]:
[27*x for i in range(30) if i==3 for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [51]:
out = []
for i in range(30):
    if i == 3:
        for x in range(1,11):
            out.append(27*x)
print(out)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [52]:
[27*x for i in range(30) if i<=3 for x in range(1,11)]

[27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 270,
 27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 270,
 27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 270,
 27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 270]

In [53]:
[i*x for i in range(30) if i<=3 for x in range(1,11)]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30]

## String Manipulations

In [54]:
String0 = 'This is DATA 3401: Python for Data Science I'

In [55]:
String0[5:10]

'is DA'

In [56]:
print(String0.find('T'))

0

In [57]:
print(String0.find('is'))

2

In [58]:
print(String0.find('pyth'))

-1

In [59]:
print(String0.find('W'))

-1

In [60]:
print(String0.find('is',3,10))

5

In [61]:
print(String0[3:].find('is'))

2

In [62]:
String0[3:]

's is DATA 3401: Python for Data Science I'

In [63]:
print(String0.count('i'))

3

In [64]:
print(String0.count('is'))

2

In [65]:
print(String0.count('W'))

0

In [66]:
print(String0.count('is',3,10))

1

In [67]:
a = list(String0)
print(a)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'D', 'A', 'T', 'A', ' ', '3', '4', '0', '1', ':', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'I']

In [68]:
b = ''.join(a)
print(b)

This is DATA 3401: Python for Data Science I

In [69]:
c = '/'.join(a)
print(c)

T/h/i/s/ /i/s/ /D/A/T/A/ /3/4/0/1/:/ /P/y/t/h/o/n/ /f/o/r/ /D/a/t/a/ /S/c/i/e/n/c/e/ /I

In [70]:
print(' '.join(a))

T h i s   i s   D A T A   3 4 0 1 :   P y t h o n   f o r   D a t a   S c i e n c e   I

In [72]:
d = ','.join(a)
print(d)

T,h,i,s, ,i,s, ,D,A,T,A, ,3,4,0,1,:, ,P,y,t,h,o,n, ,f,o,r, ,D,a,t,a, ,S,c,i,e,n,c,e, ,I

In [73]:
x = d.split(',')
print(x)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'D', 'A', 'T', 'A', ' ', '3', '4', '0', '1', ':', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'I']

In [74]:
y = c.split('/')
print(y)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'D', 'A', 'T', 'A', ' ', '3', '4', '0', '1', ':', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'I']

In [75]:
data = '1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065'
print(data.split(','))

['1', '14.23', '1.71', '2.43', '15.6', '127', '2.8', '3.06', '.28', '2.29', '5.64', '1.04', '3.92', '1065']

In [76]:
filename = 'file_name.ipynb'
name, extension = filename.split('.')
print(name)
print(extension)

file_name
ipynb

In [77]:
print(filename.split('.'))

['file_name', 'ipynb']

In [78]:
print(String0)

This is DATA 3401: Python for Data Science I

In [79]:
String0.replace('3401','3402')

'This is DATA 3402: Python for Data Science I'

In [80]:
print(String0)

This is DATA 3401: Python for Data Science I

In [82]:
String0.replace('is','*')

'Th* * DATA 3401: Python for Data Science I'

In [86]:
String1 = '          Hello  World         '
String1.strip()

'Hello  World'

In [89]:
String1 = '****Hello  World****'
String1.strip('*')

'Hello  World'

In [91]:
String1 = '    ****Hello  World****'
String1.strip('*')

'    ****Hello  World'

In [92]:
String1 = '    ****Hello  World****'
String1.strip(' *')

'Hello  World'

In [94]:
String1 = ' **   ****Hello  World****'
String1.strip('* ')

'Hello  World'

In [95]:
String1 = ' **   ****Hello  World****'
String1.lstrip('* ')

'Hello  World****'

In [96]:
String1 = ' **   ****Hello  World****'
String1.rstrip('* ')

' **   ****Hello  World'

In [97]:
String1.strip().strip('*')

'   ****Hello  World'

In [98]:
String2 = 'Hello World'
String2.center(20)

'    Hello World     '

In [99]:
String2.center(40)

'              Hello World               '

In [100]:
String2.center(40,'-')

'--------------Hello World---------------'

In [102]:
String2.zfill(20)

'000000000Hello World'

## More about Dictionaries

In [1]:
my_dictionary = {"A": 1, "B": [1,2,3], "Charlie": "hello", 4: 5}

In [2]:
my_dictionary["A"]

1

In [3]:
my_dictionary[A]

NameError: name 'A' is not defined

In [4]:
my_dictionary[4]

5

In [5]:
my_dictionary[0]

KeyError: 0

In [6]:
my_dictionary.keys()

dict_keys(['A', 'B', 'Charlie', 4])

In [7]:
my_dictionary.values()

dict_values([1, [1, 2, 3], 'hello', 5])

In [8]:
my_dictionary.items()

dict_items([('A', 1), ('B', [1, 2, 3]), ('Charlie', 'hello'), (4, 5)])

In [9]:
print(my_dictionary)

{'A': 1, 'B': [1, 2, 3], 'Charlie': 'hello', 4: 5}

In [10]:
my_dictionary[42] = "world"

In [11]:
print(my_dictionary)

{'A': 1, 'B': [1, 2, 3], 'Charlie': 'hello', 4: 5, 42: 'world'}

In [12]:
my_dictionary[42] = 0

In [13]:
print(my_dictionary)

{'A': 1, 'B': [1, 2, 3], 'Charlie': 'hello', 4: 5, 42: 0}

In [14]:
my_dictionary.pop(42)
print(my_dictionary)

{'A': 1, 'B': [1, 2, 3], 'Charlie': 'hello', 4: 5}

In [15]:
var = my_dictionary.pop("A")
print(var)
print(my_dictionary)

1
{'B': [1, 2, 3], 'Charlie': 'hello', 4: 5}

## More advanced functions
1. Recursive functions
1. Functions with arbitrary number of variables
1. Passing functions as arguments
1. Functions that return other functions

In [16]:
# Basic factorial function
#  n! = n(n-1)(n-2)...2*1
def factorial(n):
    out = 1
    for i in range(2,n+1):
        out *= i
    return out

In [17]:
factorial(3)

6

In [18]:
factorial(5)

120

In [19]:
# Recursive function
#  n! = n(n-1)(n-2)...2*1 = n(n-1)! = n(n-1)(n-2)!

# 2! = 2*1!

def factorial2(n):
    if n==1:
        return n
    else:
        return n*factorial2(n-1)

In [20]:
factorial2(5)

120

In [21]:
## Exercise
def exponentiate(base,power):
    # return base**power
    # x^n = x*x^(n-1)
    # non-recursive case: x^1 = x   (or x^0 = 1)
    if power == 1:
        return base
    else:
        return base*exponentiate(base,power-1)

In [22]:
exponentiate(2,10)

1024

In [30]:
def exponentiate2(base,power):
    # return base**power -- allow negative integer powers
    if power == 0:
        return 1
    elif power>0:
        return base*exponentiate2(base,power-1)
    else:    # x^(-n) = (1/x)^n
        return exponentiate2(1/base, -power)

In [31]:
exponentiate2(2,10)

1024

In [33]:
exponentiate2(2,-2)

0.25

In [34]:
def factorial3(n):
    return n if n==1 else n*factorial3(n-1)

In [35]:
factorial3(5)

120

Functions with arbitrary number of inputs

In [36]:
def add(*args):
    out = 0
    for a in args:
        out+=a
    return out

In [37]:
add(1)

1

In [38]:
add(1,2,3,4)

10

In [39]:
add(1,4,9,5,7)

26

In [40]:
add(1,2,[1,2,3])

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [41]:
add("hello","world")

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [44]:
def add2(arg1, arg2, *args):
    out = arg1+arg2
    for a in args:
        out += a
    return out

In [45]:
add2(1)

TypeError: add2() missing 1 required positional argument: 'arg2'

In [46]:
add2(1,2)

3

In [47]:
add2(1,2,3,4,5,6,7,8,9)

45

In [56]:
# Functions as input arguments to other functions

def is_odd(x):
    return x%2 == 1

def is_even(x):
    return x%2 == 0

def less_than_10(x):
    return x < 10

def filter_function(lst, function):
    out_list = list()
    for x in lst:
        if function(x):
            out_list.append(x)
    return out_list

In [50]:
is_odd(21)

True

In [52]:
is_even(10)

True

In [54]:
less_than_10(11)

False

In [57]:
filter_function([1,2,3,4,5,6,7,8,9,10,11],is_odd)

[1, 3, 5, 7, 9, 11]

In [58]:
filter_function([1,2,3,4,5,6,7,8,9,10,11],is_even)

[2, 4, 6, 8, 10]

In [59]:
filter_function([1,2,3,4,5,6,7,8,9,10,11],less_than_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
type(filter_function)

function

In [61]:
# Functions that return functions

def make_filter(function):
    def filter_function(lst):
        out_list = list()
        for x in lst:
            if function(x):
                out_list.append(x)
        return out_list
    
    return filter_function

In [62]:
filter_odd = make_filter(is_odd)

In [63]:
type(filter_odd)

function

In [64]:
filter_odd([1,2,3,4,5,6,7,8])

[1, 3, 5, 7]

## Allowing different kinds of inputs

In [65]:
def scalar_list_multiply(scalar,lst):
    out = []
    for i in lst:
        out.append(scalar*i)
    return out

In [66]:
scalar_list_multiply(5,[1,2,3])

[5, 10, 15]

In [69]:
def list_list_multiply(lst1,lst2):
    if len(lst1) != len(lst2):
        print("Error: lists must be the same length.")
        return None
    else:
        out = []
        for item1,item2 in zip(lst1,lst2):
            out.append(item1*item2)
        return out

In [70]:
list_list_multiply([1,2,3],[4,5,6])

[4, 10, 18]

In [71]:
def multiply(a,b):
    # allow one or both of these to be scalars, at most one to be a list
    if isinstance(a,(float,int)) and isinstance(b,(float, int)):
        return a*b
    elif isinstance(a,list) and isinstance(b,(float,int)):
        return scalar_list_multiply(b,a)
    elif isinstance(a,(float,int)) and isinstance(b,list):
        return scalar_list_multiply(a,b)
    elif isinstance(a,list) and isinstance(b,list):
        return list_list_multiply(a,b)
    else:
        print("Invalid input.")

In [72]:
multiply(2,4)

8

In [73]:
multiply(2,[1,2,3])

[2, 4, 6]

In [74]:
multiply([1,2,3],4)

[4, 8, 12]

In [75]:
multiply([1,2,3],[4,5,6])

[4, 10, 18]